# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions>=1.24.0
azure-identity>=1.25.3
azure-storage-blob>=12.30.0
deltalake>=1.6.2
orjson>=3.11.9
pyarrow>=25.0.0